<app-encabezado></app-encabezado>

<div class="flex justify-center">
  <div class="container">
    <div class="flex flex-wrap justify-around pt-2">
      <ng-container *ngIf="productosFiltrados.length > 0; else noProductos">
        <app-tarjeta-de-producto *ngFor="let producto of productosFiltrados; let i = index; trackBy: trackByFn" [producto]="producto"></app-tarjeta-de-producto>
      </ng-container>
      <ng-template #noProductos>
        <p class="text-gray-600">No se encontraron productos.</p>
      </ng-template>
    </div>
  </div>
</div>
